/* NavBar Work */

.navbar-logo{
    width: 120px;
    height: 120px;
}

body {
    margin-top: 145px;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;    //Specify your width here
}
