/*Body Work */
body {
    background-color: #edeff2;
    padding-top: 110px;
    font-family: sans-serif, serif;
}

/* NavBar Work */

#navBar{
    width: 100%;
    height: 590px;
}

#navbar{
    background-color: #8facdb;
    word-spacing: 10px;
}

.navbar-logo {
    width: 100px;
    height: 100px;
}

body, html {
    height: 100%;
}

.navbar-text {
    color: black;
}

/*Home Page Work*/
.home-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),url("../images/hero6.jpg") ;
  width: auto;
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

hr {
    width:50%;
    color: #848d9c;
}

/*Footer Work*/ 
.page-footer {
    background-color: #8facdb;
}

/*Icon Work*/
.icon-black {
    color: black;
}

.copyright-footer {
    background-color: #b1c2de;
}

/*Tomorowland Page Work*/ 

.tml-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url("../images/tml-hero.jpg") ;
  width: auto;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tml-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*Coachella Page Work*/ 
.coachella-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url("../images/coachella.jpg") ;
  width: auto;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.coachella-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*Hideout Page Work*/ 
.hideout-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url("../images/hideout.jpg") ;
  width: auto;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hideout-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*Creamfields Page Work*/ 
.creamfields-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),url("../images/creamfields.jpg") ;
  width: auto;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.creamfields-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}